{{ define "main" }}
<div class="archive animated fadeInDown">

  <ul class="list-with-title">
    {{ range (where .Data.Pages ".Params.series" "!=" nil ).GroupByParam "series" }}
    <div class="listing-title">{{ .Key }}</div>
    {{ if (eq .Key "Coding Challenges") }}
    {{ range ((where .Pages ".Params.level" "!=" nil ).GroupByParam "level").Reverse }}
    <div class="listing-sub-title">{{ .Key }}</div>
    {{ range .Pages }}
    <ul class="listing">
      <div class="listing-item">
        <div class="listing-post"><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>
          <div class="post-time"><span class="date">{{.Date | time.Format ":date_medium" }}</span></div>
        </div>
      </div>
    </ul>
    {{ end }}
    {{ end }}

    {{ else }}
    {{ range .Pages }}
    <ul class="listing">
      <div class="listing-item">
        <div class="listing-post"><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>
          <div class="post-time"><span class="date">{{.Date | time.Format ":date_medium" }}</span></div>
        </div>
      </div>
    </ul>
    {{ end }}

    {{ end }}
    {{ end }}
</div>
{{ end }}